@model FileTransfer.ViewsModels.VMPassword

@{
    int opcion = 2;
}
<div class="row">
    @Html.Partial("_ProfileOptions", opcion)
    <div class="col-md-8">
        <div class="col">
            <form method="post" asp-controller="User" asp-action="SendPassword">
                <h4>Create a new account.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <input asp-for="IdUser" hidden />
                <div class="form-group">
                    <label asp-for="OldPassword"></label>
                    <input asp-for="OldPassword" class="form-control" id="passuser" />
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" id="passuser" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>
    </div>
</div>

<script>
    const id = localStorage.getItem('iduser')
    document.getElementById('IdUser').value = id
</script>