@model FileTransfer.ViewsModels.VMCuenta

<div class="row">

    <div class="col-md-4">
        <form class="list-group" id="options" method="post" asp-action="OptionsProfile">
            <input type="submit" class="list-group-item list-group-item-action" aria-current="true" value="Personal Data" />
            <input type="submit" class="list-group-item list-group-item-action active" value="Cuenta del Usuario" />
            <input type="text" id="ValueOpcion" name="ValueOpcion" hidden/>
        </form>
    </div>
    <div class="col-md-8">
        <div class="col">
            <form method="post" asp-controller="User" asp-action="SendProfile">
                <h4>Create a new account.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Nombre"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Celular"></label>
                    <input asp-for="Celular" class="form-control" />
                    <span asp-validation-for="Celular" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Imagen"></label>
                    <input asp-for="Imagen" class="form-control" />
                    <span asp-validation-for="Imagen" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>
    </div>
</div>


<script>
    const options = document.getElementById("options");
    const ultimaopcion = document.getElementById("ValueOpcion");
    const totalitems = options.children.length
    for (let i = 0; i < totalitems; i++) {
        const actualoption = options.children[i]
        if (actualoption.id !== ultimaopcion.id) {
            actualoption.addEventListener('click', (evt) => {
                ultimaopcion.value = i
            })
        }
    }
</script>