@model List<FileTransfer.Models.Entities.FilesUser>


<div id="ContentFiles" class="ContentFiles row">
    <div class="col-md-3">
        <h2>Mis archivos</h2>
        <div class="input-group mb-4">
            <input type="text" class="form-control" placeholder="file name" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <span class="input-group-text" id="basic-addon2">🔍︎</span>
        </div>
    </div>
    <div class="col-md-9">
        <table class="table table-striped text-center">
            <thead>
                <tr>
                    <th>Nombre Archivo</th>
                    <th>Fecha de Subida</th>
                    <th>Tamaño del archivo</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.NameFile</td>
                        <td>@item.DateUpload</td>
                        <td>@item.SizeFile</td>
                        <td><button class="btn btn-primary">Descargar</button>
                        <button class="btn btn-danger">Borrar</button></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
