@model List<FileTransfer.Models.Entities.FilesUser>

<link href="~/sass/MisArchivos.css" type="text/css" rel="stylesheet" />
<div id="ContentFiles" class="ContentFiles row">
    <div class="col-md-3">
        <h2>Mis archivos</h2>
        <div class="input-group mb-4">
            <input type="text" class="form-control" placeholder="file name" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <span class="input-group-text" id="basic-addon2">🔍︎</span>
        </div>
    </div>
    <div class="col-md-9">
        <table class="table table-striped text-center">
            <thead>
                <tr>
                    <th>Nombre Archivo</th>
                    <th>Fecha de Subida</th>
                    <th>Tamaño del archivo</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td><span> @item.NameFile</span></td>
                        <td><span> @item.DateUpload</span></td>
                        <td><span>@item.SizeFile</span> </td>
                        <td class="d-flex gap-1">
                            <a class="btn btn-primary" id="descargar" href="https://localhost:44311/User/DownloadFile?iduser=@item.IdUser&filename=@item.NameFile" target="_blank">Descargar</a>
                            <button onclick='Borrar("@item.NameFile")' class="btn btn-danger">Borrar</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<script type="text/javascript" src="~/js/Alertas.js"></script>
<script type="text/javascript">
    const Borrar = namefile => {
        let iduser = localStorage.getItem("iduser");
        $.ajax({
            url: `DeleteFile?iduser=${iduser}&filename=${namefile}`,
            async: true,
            type: "post",
            success: function (res) {
                if (res) {
                    window.location.reload()
                } else {
                    MostrarAlerta("No se logro eliminar el archivo", "danger");
                }
            },
            error: function (err) {
                console.log(err)
            }
        })
    }
</script>