@model FileTransfer.ViewsModels.VMRegistar


<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Correo"></label>
        <input asp-for="Correo" class="form-control" value="enzo@gmail.com" />
        <span asp-validation-for="Correo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Contraseña"></label>
        <input asp-for="Contraseña" class="form-control" value="Cranic123*" />
        <span asp-validation-for="Contraseña" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmContraseña"></label>
        <input asp-for="ConfirmContraseña" class="form-control" value="Cranic123*" />
        <span asp-validation-for="ConfirmContraseña" class="text-danger"></span>
    </div>
    <button class="btn btn-primary" type="submit">Enviar</button>
</form>