@model FileTransfer.ViewsModels.VMRegistar

<link href="~/sass/RememberPassword.css" type="text/css" rel="stylesheet"/>
<form method="post" id="FormRemember" class="FormRemember">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row">
        <div id="ContentEmail" class="ContentEmail col">
            <div class="form-group">
                <label asp-for="Correo"></label>
                <input type="text" asp-for="Correo" class="form-control" value="enzo@gmail.com" />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" id="ContentEmail-button" type="button">Siguiente</button>
            </div>
        </div>
        <div id="ContentPassword" class="ContentPassword col">
            <div class="form-group">
                <label asp-for="Contraseña"></label>
                <input asp-for="Contraseña" class="form-control" value="Cranic123*" />
                <span asp-validation-for="Contraseña" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmContraseña"></label>
                <input asp-for="ConfirmContraseña" class="form-control" value="Cranic123*" />
                <span asp-validation-for="ConfirmContraseña" class="text-danger"></span>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Enviar</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    const ContentEmailbutton = document.getElementById("ContentEmail-button")
    const correo = document.getElementById("Correo")
    ContentEmailbutton.addEventListener("click", function () {
        let valorcorreo = correo.value
        if (valorcorreo !== "") {
            $('#ContentEmail').hide();
            $('#ContentPassword').fadeIn('slow');
        }

    })
</script>