.AlertasContent {
  position: absolute;
  top: 0;
  right: 0; }
  .AlertasContent .AlertasContent__List {
    position: relative; }

.WindowLoad {
  position: fixed;
  font-size: 1rem;
  top: 0px;
  left: 0px;
  z-index: 3200;
  opacity: 0.65;
  background: #999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.ContentFiles {
  position: relative; }
  .ContentFiles .file-select {
    position: relative;
    display: inline-block; }
    .ContentFiles .file-select input[type="file"] {
      opacity: 0;
      display: inline-block;
      width: 200px;
      cursor: pointer; }
  .ContentFiles .file-select::before {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; }
  .ContentFiles .sendfiles, .ContentFiles #Uploadbutton::before {
    text-transform: uppercase;
    font-weight: 600; }
  .ContentFiles .sendfiles {
    padding: 0.6rem; }
  .ContentFiles #Uploadbutton::before {
    content: 'Seleccion los archivos';
    cursor: pointer; }
  .ContentFiles .ListArchivos {
    display: none; }
    .ContentFiles .ListArchivos ul li {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      place-items: center;
      gap: 1rem; }
      .ContentFiles .ListArchivos ul li .Namefile {
        word-break: break-all; }
    @media screen and (min-width: 800px) {
      .ContentFiles .ListArchivos ul {
        width: 40%; } }

ul li {
  list-style: none; }
