.ContentFiles .file-select {
  position: relative;
  display: inline-block; }
  .ContentFiles .file-select input[type="file"] {
    opacity: 0;
    display: inline-block;
    width: 200px;
    cursor: pointer; }

.ContentFiles .file-select::before {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

.ContentFiles .sendfiles, .ContentFiles #Uploadbutton::before {
  text-transform: uppercase;
  font-weight: 600; }

.ContentFiles #Uploadbutton::before {
  content: 'Seleccion los archivos';
  cursor: pointer; }

.ContentFiles .ListArchivos {
  display: none; }
  .ContentFiles .ListArchivos ul li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px 0; }
  @media screen and (min-width: 800px) {
    .ContentFiles .ListArchivos ul {
      width: 40%; } }

ul li {
  list-style: none; }
