@model FileTransfer.ViewsModels.VMFilesUser

<link href="~/sass/Archivos.min.css" type="text/css"  rel="stylesheet"/>
<div id="ContentFiles" class="ContentFiles">
    <h2>Selecciona los archivos que quiere subir</h2>
    <p class="Mensaje" id="Mensaje">
        <strong>Máximo de 10 Archivos</strong>
    </p>
    <input type="file" id="ContentFiles__Sendfiles" hidden />
    <div class="btn btn-primary file-select " id="Uploadbutton">
        <input type="file" id="uploadarchivos" name="uploadarchivos" multiple="multiple" aria-label="Archivo">
    </div>
    <button id="Sendbutton" class="btn btn-primary sendfiles" type="button">SendFiles</button>
    <div id="ListArchivos" class="ListArchivos">
        <h3>Archivos</h3>
        <ul></ul>
    </div>
    <div id="AlertasContent" class="AlertasContent">
        <div id="AlertasContent__List" class="AlertasContent__List"></div>
    </div>
</div>
<script type="module" src="~/js/Archivos.js"></script>
