@model FileTransfer.ViewsModels.VMFilesUser

<link href="~/sass/Archivos.min.css" type="text/css"  rel="stylesheet"/>
<form method="post" id="ContentFiles" class="ContentFiles" enctype="multipart/form-data">
    <h2>Selecciona los archivos que quiere subir</h2>
    <p class="Mensaje" id="Mensaje">
        <strong>Máximo de 10 Archivos</strong>
    </p>
    <input type="file" id="ContentFiles__Sendfiles" hidden />
    <div class="btn btn-primary file-select " id="Uploadbutton">
        <input type="file" id="uploadarchivos" name="uploadarchivos" multiple="multiple" aria-label="Archivo">
    </div>
    <button id="Sendbutton" class="btn btn-primary sendfiles" type="button">SendFiles</button>
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-title"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div id="modal-body" class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="ListArchivos" class="ListArchivos">
        <h3>Archivos</h3>
        <ul></ul>
    </div>
    <div id="AlertasContent" class="AlertasContent">
        <div id="AlertasContent__List" class="AlertasContent__List"></div>
    </div>
</form>
<script type="module" src="~/js/Archivos.js"></script>
